---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import RepoCard from "../../components/RepoCard.astro";

interface SkillRepo {
  owner: string;
  name: string;
  desc: string;
}

interface SkillData {
  title: string;
  desc: string;
  url: string;
  repos?: SkillRepo[];
}

type SkillsData = {
  [id: string]: SkillData;
};

const { skill } = Astro.params;

const skills: SkillsData = {
  "astro": {
    "title": "The Astro framework",
    "desc": "Astro è il mio framework preferito. Lo utilizzo per creare siti web di dimensioni medio-piccole. Con le sue integrazioni e le numerose funzionalità, lo rende il framework perfetto per me. Ho anche contribuito alla traduzione della documentazione di Astro in italiano.",
    "repos": [
      {
        "owner": "TariX857",
        "name": "website",
        "desc": "Il mio sito personale"
      }
    ],
    "url": "/tools/astro.svg",
  },
  "github": {
    "title": "Github",
    "desc": "Utilizzo GitHub come host Git per i miei repository. Mi piace molto per le sue funzionalità come flussi di lavoro, azioni, spazi di codice, ecc. Non mi piace particolarmente il fatto che non sia closed-source e, in effetti, apprezzo anche concorrenti come GitLab e SourceHut.",
    "url": "/tools/github.svg"
  },
  "js": {
    "title": "Javascript il linguaggio di programmazione",
    "desc": "JavaScript è stato il mio primo linguaggio di programmazione. Inizialmente lo usavo per creare bot Discord, ma oggi lo uso per sviluppare vari tipi di applicazioni web attraverso la sua varietà di framework. Ho anche esperienza nello sviluppo backend utilizzando varie librerie.",
    "repos": [
      {
        "owner": "TariX857",
        "name": "Fleyd-Web",
        "desc": "Sito Web di fleyd un bot discord"
      }
    ],
    "url": "/tools/js.svg"
  },
  "mongodb": {
    "title": "Mongodb Database",
    "desc": "MongoDB è stato il mio primo database, principalmente per il suo approccio NoSQL. Oggi lo utilizzo poco, anche se lo considero ancora un'ottima alternativa a molti dei database odierni.",
    "url": "/tools/mongodb.svg"
  },
  "nextjs": {
    "title": "Next.js framework",
    "desc": "Next.js è stato uno dei miei framework preferiti. In effetti, inizialmente l'ho scoperto perché volevo un sistema di routing più strutturato con React, non come react-router. Ma poi ho scoperto che c'erano molte funzionalità che potevano aiutarmi a creare pagine web di grandi dimensioni con molte funzionalità.",
    "repos": [
      {
        "owner": "TariX857",
        "name": "Fleyd-Web",
        "desc": "Sito Web di fleyd un bot discord"
      }
    ],
    "url": "/tools/nextjs.svg"
  },
  "nodejs": {
    "title": "Il runtime di Node.js",
    "desc": "Utilizzo e utilizzo Node.js da molto tempo, uno dei migliori runtime JavaScript. Mi piace molto, soprattutto per il suo ricco ecosistema di pacchetti disponibili. Tuttavia, oggi mi concentrerò sull'apprendimento del runtime Bun, che è compatibile con Node.js, per ottenere prestazioni significativamente migliori.",
    "url": "/tools/nodejs.svg"
  },
  "react": {
    "title": "The React Framework",
    "desc": "React è stato il mio primo framework che ha facilitato notevolmente la creazione di app web e pagine interattive con la sua moltitudine di hook. Oggi utilizzo React principalmente per siti Web grandi e complessi, mentre per i siti più piccoli utilizzo framework come Astro.",
    "repos": [
      {
        "owner": "TariX857",
        "name": "Fleyd-Web",
        "desc": "Sito Web di fleyd un bot discord"
      }
    ],
    "url": "/tools/react.svg"
  },
  "html": {
    "title": "Html ",
    "desc": "Html è il linaguaggio con cui sono partito a farer le prime bozze, mi sono trovato bene però non era il massimo quindi sono passato a typescripte javascript con next.js o next.ts.",
    "repos": [
      {
        "owner": "TariX857",
        "name": "Calcolatrice",
        "desc": "Una piccola calolatrice in SOLO html"
      },
      {
        "owner": "TariX857",
        "name": "Tris-Site",
        "desc": "Un piccolo gioco carino"
      },
      {
        "owner": "TariX857",
        "name": "TarikBot-Site",
        "desc": "Il sito di un bot semplice"
      },
      {
        "owner": "TariX857",
        "name": "Portfolio-Template",
        "desc": "Un piccolo portfolio disponibile a tutti"
      },
      {
        "owner": "TariX857",
        "name": "my-site-OLD",
        "desc": "Il mio vecchio sito molto carino"
      },
      {
        "owner": "TariX857",
        "name": "Installation-Site",
        "desc": "Un template di sito che può essere usato per un pacchetto npm per esempio"
      },
    ],
    "url": "/tools/html.svg"
  },
  "css": {
    "title": "Css design unico",
    "desc": "Css il linaguaggio con cui non sarebbe iniziato nessun bel sito, linaguaggio molto semplice ma ripetitivo i framework aiutano molto e sono molto comodi in più non hanno bisogno di conoscienza di css per creare immagini o stili belli.",
    "repos": [
      {
        "owner": "TariX857",
        "name": "Tris-Site",
        "desc": "Un piccolo gioco carino"
      },
      {
        "owner": "TariX857",
        "name": "TarikBot-Site",
        "desc": "Il sito di un bot semplice"
      },
      {
        "owner": "TariX857",
        "name": "Portfolio-Template",
        "desc": "Un piccolo portfolio disponibile a tutti"
      },
      {
        "owner": "TariX857",
        "name": "my-site-OLD",
        "desc": "Il mio vecchio sito molto carino"
      },
      {
        "owner": "TariX857",
        "name": "Installation-Site",
        "desc": "Un template di sito che può essere usato per un pacchetto npm per esempio"
      },
    ],
    "url": "/tools/css.svg"
  },
  "python": {
    "title": "Python automazioni facili",
    "desc": "Python è il linguaggio che mi ha divertito più di tutti, con esso si possono fare molte apllicazioni piccole ma divertenti come un gioco oppure un blocco note con pocchissime righe di codice.",
      "repos": [
      {
        "owner": "TariX857",
        "name": "Assistente-Vocale",
        "desc": "Un piccolo assistente vocale"
      },
      {
        "owner": "TariX857",
        "name": "python-editor",
        "desc": "Editor per python in python"
      },
      {
        "owner": "TariX857",
        "name": "autoclicker",
        "desc": "Un piccolo autoclicker semplice"
      },
      {
        "owner": "TariX857",
        "name": "flappybird",
        "desc": "Un piccolo gioco fatto in python ispirato a flappy bird"
      },
      {
        "owner": "TariX857",
        "name": "snakpy",
        "desc": "Un piccolo gioco fatto in python ispirato a snake"
      },
    ],
    "url": "/tools/python.svg"
  },
}

if (!skills[skill]) return Astro.redirect("/404");
---

<Layout title={`${skill} | Skill`}>
  <Navbar />
  <div class="mt-24 block p-1 md:flex md:justify-center">
    <div class="ml-2 mr-2 md:w-1/2">
      <h1 class="text-center text-3xl font-bold md:text-left">{skills[skill].title}</h1>
      <p class="mb-4 mt-4">
        {skills[skill].desc}
      </p>
      <hr />
      <div class="mt-4 md:ml-8 md:mr-8">
        {
          skills[skill].repos ? skills[skill].repos.map((i: SkillRepo) => {
            return <RepoCard owner={i.owner} name={i.name} desc={i.desc} />;
          }) : <></>
        }
      </div>
    </div>
    <div class="hidden w-1/3 justify-end md:flex">
      <img src={skills[skill].url} class="h-40 w-40 rounded-xl" transition:name={skill} />
    </div>
  </div>
</Layout>
